<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A micro-blog for all those beautiful moments where a camera would have been nice to have but I only had my eyes and my memories."/>
    <meta name="”robots”" content="index, follow">
    <title>Photographer Sans</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    {% include "./../partials/_header.njk" %}

    {% block content %}{% endblock content %}

    {% include "./../partials/_footer.njk" %}

</body>